'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
var mlabconfig = { admin: 'mongodb://<user>:<password>@ds231758.mlab.com:31758/tricitieseggdrop' };
exports.default = mlabconfig;